// GRID
.grid
  vertical-align top
  border-spacing 0

  // Layout
  &.auto
    table-layout fixed

  // Vertical Alignment
  &.align-middle
    vertical-align middle
  &.align-bottom
    vertical-align bottom

  // Dimensions
  &.height-full
    height 100%

  // Variants
  &.wrapped
    border-spacing 0
    margin 0

    & > .grid-items
      display block
      width auto
      font-size 0

      & > *
        font-size 1rem
        display inline-block
        margin 0
        height auto

.grid-items
  display table
  table-layout inherit
  border-spacing inherit
  vertical-align inherit  
  width 100%
  height inherit

.col
  display table-cell
  vertical-align inherit
  height 100%

  &.max
    width 100%
  &.min
    width 0.00001px

.rows
  display table-row-group

.row
  display table-row

  &.max
    height 100%
  &.min
    height 0.00001px