// Spacing Reset

$box-sizing
  box-sizing border-box !important
  
$spacing
  margin-bottom 0
  &:first-child
    margin-top 0 !important

* 
  @extend $box-sizing
  @extend $spacing
  &:before
  &:after
    @extend $box-sizing

.v-space-none
  > *
    margin-top 0 !important

body
  margin 0

// Nest Generator

prefix   = "nest"
unit     = vw
dev      = false
devColor = teal
devUnits = false

nest(ratio = 1.5, shift = -2.5, steps = 6, dev = false, bg = devColor)

  class      = '.' + prefix + ' '
  class_list = class
  for step in (1...steps + 1)
    rank = steps - (step - shift)
    size = (ratio**rank)
    size = round(size,3)
    unless step is 1
      class_list += class
    
    {class_list},
    .nest-{step}
      // Padding
      &.padded
        padding unit(size, em)
      
      // Padding - Single Axis
      &.padded-v
        padding unit(size, em) 0
      &.padded-h
        padding 0 unit(size, em)

      // Padding - Single side
      &.padded-top
        padding unit(size, em) 0 0
      &.padded-right
        padding 0 unit(size, em) 0 0
      &.padded-bottom
        padding 0 0 unit(size, em) 0
      &.padded-left
        padding 0 0 0 unit(size, em)

      // Padding - Single side none
      &.padded-top-none
        padding 0 unit(size, em) unit(size, em)
      &.padded-right-none
        padding unit(size, em) 0 unit(size, em) unit(size, em)
      &.padded-bottom-none
        padding unit(size, em) unit(size, em) 0 unit(size, em)
      &.padded-left-none
        padding unit(size, em) unit(size, em) unit(size, em) 0

      // Padding - Step Out
      &.padded-step-out
        padding unit(size*ratio, em)
      &.padded-step-out-v
        padding unit(size*ratio, em) unit(size, em)
      &.padded-step-out-h
        padding unit(size, em) unit(size*ratio, em)
      
      // Padding - Step In
      &.padded-step-in
        padding unit(size/ratio, em)
      &.padded-step-in-v
        padding unit(size/ratio, em) unit(size, em)
      &.padded-step-in-h
        padding unit(size, em) unit(size/ratio, em)


      if dev
        background-color rgba(bg, 0.2)
        outline 1px solid rgba(bg, 0.75)
        if devUnits
          &:before
            if size == 1
              color red
            else
              color black
            content "" + size
            display inline-block
            line-height 0.65
            margin-bottom size

      // Adjust spacing size for children
      rank = steps - ((step + 1) - shift)
      size = (ratio**rank)
      size = round(size,3)
      
      *
        margin-top unit(size, em)
        margin-top unit(size, rem)

      .grid

        &.spaced
          border-spacing unit(size, em) 0
          margin unit(size, em) unit(-(size), em) 0

          &.wrapped
            margin unit(-(size/2), em) !important
            & > .grid-items
              & > *
                padding unit(size/2, em)
                margin 0 !important

.nest
  display block
