// For Internet Explorer
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="style.css")
  body.nest-1.pad-1.-v-max

    .grid.-spaced.-v-max
      .col.-h-max Dog
        .grid.-spaced
          .col Dog
          .col Cat
          .col Cow
      .col Cat
      .col Cow
    .nest-1
      .grid.-spaced.-wrapped
        .col: .wrapped-col  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias error ipsam quaerat distinctio aut cumque voluptates corrupti optio voluptatum repellat! Et numquam voluptate nisi ad. Pariatur ab autem amet ut!
        .col: .wrapped-col Cat
        .col: .wrapped-col Cow
        .col: .wrapped-col Dog
        .col: .wrapped-col Cat
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
        .col: .wrapped-col Cow
    .grid.-spaced.-wrapped
      .col: .wrapped-col  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias error ipsam quaerat distinctio aut cumque voluptates corrupti optio voluptatum repellat! Et numquam voluptate nisi ad. Pariatur ab autem amet ut!
      .col: .wrapped-col Cat
      .col: .wrapped-col Cow
      .col: .wrapped-col Dog
      .col: .wrapped-col Cat
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow
      .col: .wrapped-col Cow