@import '../../index'
nestle(include_wrapped: true)

html
body
  height 100%
  
.grid:not(.-wrapped)
  & > .col
    @extend .pad-1, .nest-2
    background rgba(black, 0.15)
  

.-wrapped
  & > .col
    width (100/5)%
    @media (max-width: 900px)
      width (100/4)%
    @media (max-width: 900px)
      width (100/3)%
    @media (max-width: 640px)
      width (100/1)%
    
.wrapped-col
  @extend .pad-1
  background rgba(black, 0.15)
    

  
