// All children of `.grid` inherit vertical alignment
$vertical-align
  vertical-align inherit

// Grid
.grid
  border-spacing 0
  display table
  vertical-align top
  width 100%
  &:before
    content '' // This fixes a but that causes the first cell to lose width when a transition happens
    display table-cell
    width 0.1px

  // Layout
  &.-fixed
    table-layout fixed
  &.-inline
    display inline-table

  // Variants
  &.-wrapped
    border-spacing 0
    display block
    width auto !important
    font-size 0

    & > .col
      font-size 1rem
      display inline-block
      margin 0
      height auto

// Column
.col
  display table-cell
  @extend $vertical-align

// Rows
.rows
  display table-row-group
  @extend $vertical-align

// Row
.row
  display table-row
  @extend $vertical-align


// Global Grid Modifiers

// Col/Row Dimensions
minimum_dimension = 0.1px
maximum_dimension = 100%

.-h-min
  width minimum_dimension
.-h-max
  width maximum_dimension
.-v-min
  height minimum_dimension
.-v-max
  height maximum_dimension
  
// Vertical Alignment
.-align-top // default
  vertical-align top
.-align-middle
  vertical-align middle
.-align-bottom
  vertical-align bottom
  
// Horizontal Alignment
.-align-left // default
  text-align left
.-align-center
  text-align center
.-align-right
  text-align right