nestle(ratio = 1.5, shift = -2.5, steps = 6, include_wrapped=false)

  for step in (1...steps + 1)
    rank = steps - (step - shift)
    size = (ratio**rank)
    size = round(size,3)rem

    .unit-{step}
      font-size size
      
    .pad-{step}
      padding        size
    .pad-h-{step}
      padding-right  size
      padding-left   size
    .pad-v-{step}
      padding-top    size
      padding-bottom size
    .pad-t-{step}
      padding-top    size
    .pad-r-{step}
      padding-right  size
    .pad-b-{step}
      padding-bottom size
    .pad-l-{step}
      padding-left   size

    .nest-{step}

      > *
      &.sub-all *
        margin-top size

      > .grid
      > table
      &.-deep .grid
        
        if include_wrapped
        
          &.-wrapped
            margin-right 0
            margin-left 0

        &.-spaced
          width "calc(%s + 100%)" % (size*3)
          border-spacing size 0
          margin size (-(size)) 0 (-(size*2))

        &.-hv
          height "calc(%s + 100%)" % (size*2)
          border-spacing size
          margin -(size) !important
          

        if include_wrapped

          &.-wrapped
            margin (size/2) (-(size/2)) (-(size/2)) !important
            &:first-child
              margin-top (-(size/2)) !important
            & > *
              padding (size/2)
              margin 0 !important
