// Spacing Reset

$box-sizing
  box-sizing border-box
  
$spacing
  margin-top    0
  margin-bottom 0
  &:first-child
    margin-top 0 !important

* 
  @extend $box-sizing
  @extend $spacing
  &:before
  &:after
    @extend $box-sizing

body
  margin 0